[Desktop Entry]
Version=1.0
Type=Application
Name=Datagrip {{ datagrip_version }}
Icon={{ datagrip_location}}/bin/datagrip.png
Exec="{{ datagrip_location }}/bin/datagrip.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-datagrip
